.jumbotron{
  background-color:darkblue;
  background: url("http://www.happyafloat.com/redsandsfort.com/images/red-sands-fort.jpg") center center;

  width:100%;
  height:auto;
  background-size: cover;
  text-align: center;
  color:white;
  font-family:'Special Elite';
  font-size:20px
}

.mt-24{
  margin-top: 24rem;
}

.box{
/*    background:linear-gradient(AliceBlue,lightblue); */
background-color: rgba(0,0,0,0.7);
}

footer{
  font-size:16px;
}
.content{
 text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7);
  text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.6);
  text-shadow: 0px 18px 23px rgba(0, 0, 0, 0.6);
}
